
{% extends "layout.html" %}

{% block pageTitle %}
  Submit an application and get certified
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
  	<a href="/join" class="govuk-back-link">Back</a>
    <h1 class="govuk-heading-xl">Apply to join the IAX</h1>

    <p>If you meet all of these requirements, you can apply to join the IAX<a> as an identity provider.</p>

    <p>If you answer no to any of these questions but have an equivalent certification, you might still be able to join. <a href="iax@digital.cabinet-office.gov.uk">Contact the IAX auditor for advice.</a></p>


  <h2 class="govuk-heading-l">How to apply</h2>

  <ol class="govuk-list govuk-list--number">
   <li><a href="https://github.com/kubabartwicki/verify-participants-joining/raw/master/app/assets/application-form.odt">Download the application form.</a></li>
   <li>Email your completed form to <a href="iax@digital.cabinet-office.gov.uk">iax@digital.cabinet-office.gov.uk</a>.</li>
  </ol>


  </div>

</div>

{% endblock %}
